/* -------------------------------------------------------------------------- *\
   $ALERT
\* -------------------------------------------------------------------------- */

.alert {
    background-color: @color-gray-dark;
    border-radius: 5px;
    color: @color-white;
    margin-bottom: 3em;
    padding: 1em;
    position: relative;

    /**
     * Message
     */

    .alert__message {
        font-size: 1em;
        margin-bottom: 0;
    }

    /**
     * Link
     */

    .alert__link {
        border-bottom: 1px solid @color-white;
        color: @color-white;
        font-weight: @weight-bold;
        text-decoration: none;
        .transition(border-color 0.25s, color 0.25s;);
    }

    /**
     * Dismiss
     */

    .alert__dismiss {
        background-color: transparent;
        border: 0;
        color: @color-black;
        display: block;
        opacity: 0.5;
        position: absolute;
        right: 0.125em;
        top: 0.125em;
        .transition(opacity 0.25s);

        &:focus,
        &:hover {
            opacity: 1;
        }
    }

    /**
     * Success
     */

    &.alert--success {
        background-color: @color-green;
    }

    /**
     * Information
     */

    &.alert--info {
        background-color: @color-blue;
    }

    /**
     * Warning
     */

    &.alert--warning {
        background-color: @color-orange;
    }

    /**
     * Error
     */

    &.alert--error {
        background-color: @color-primary;
    }
}

@media all and (min-width: @bp-small) {

    .alert {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-right: 1.5em;
        margin-left: 1.5em;

        .alert__dismiss {
            font-size: 1.5em; /* 24 / 16 */
            right: 0.375em;
            top: 0.375em;
        }
    }
}
