APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

SENTRY_DSN=null

CLOUDINARY_CLOUD_NAME=...
CLOUDINARY_API_KEY=...
CLOUDINARY_API_SECRET=...

TWITTER_CLIENT_ID=G1B69QlkoC7uqhzWuhZUw2eBE
TWITTER_CLIENT_SECRET=HeCOm51u9SlsxJ4TJOkvAAYWiTVB3FX2nPRFBft0ing82Fa22f
TWITTER_REDIRECT=http://larasites.local/auth/callback
